/*
*Mia Casale 
* Due Date 
*Project Name and Description
*/

/* The Universal selector */

* {

}

/* First is the background color and font  */

body { 
background-color:#FFE6EE;
    color: black }
h1 {font-family: "apple chancery", cursive;
}
p{font-family: sans-serif}

h2 {font-family: apple chancery, cursive; 
    font-size: 150%;}
a:hover, a:focus{
    color: mediumorchid;
    font-size: 120%;
}

header{ background-color:#DE657C; 
    text-align:center;}

main {background-color: #FFE6EE;}

footer {background-color: #FFE6EE;
}
#girlswithlaptops{float: right; width: 300; height: 300;}
#girlwithalaptop{float: right; width: 100; height: 300;}
